<div id="contents" class="container" style="margin-top: 80px;">
    <div class="banner">
        <a href="#"><img src="img/img1.jpg" alt="image description"></a>
    </div>

    <div id="titling">
        <div class="image">
            <img src="img/img2.jpg" class="album-art" alt="Album Art">
        </div>

        <div class="holder">
            <div class="container">
                <h1 class="song-name fn">Anna Molly</h1>
                <h2 class="artist-name">Incubus</h2>
                <span class="date">3 days ago</span>
            </div>

        </div>
    </div>

    <div class="push"></div>
</div>